# My Python Learnings

**The following code is some of the basics of Python that I created for some practice**

All the skills learned are from the "Python for Data Science and Machine Learning Bootcamp". I will be practicing the following:

* Data types
    * Numbers
    * Strings
    * Printing
    * Lists
    * Dictionaries
    * Booleans
    * Tuples 
    * Sets
* Comparison Operators
* if, elif, else Statements
* for Loops
* while Loops
* range()
* list comprehension
* functions
* map and filter
* methods
____

## Data Types

### Numbers 
Here are some simple arithmetic examples

In [1]:
5 + 5

10

In [2]:
2 * 10

20

In [3]:
1 / 5

0.2

In [4]:
4 ** 2

16

In [5]:
# Here the percentage will show if the number is even
10 % 2

0

In [6]:
# or if there is a remainder.
4 % 3

1

In [7]:
# Python will always perform order of operations
5 + 3 * 2 + 1

12

In [8]:
# Unless paranthesis are used
(5 + 3) * (2 + 1)

24

### Variable Assignment

This is allows letters or strings to be equal to numbers, letters or strings

In [10]:
a = 5
b = 10

In [11]:
c = a + b

In [12]:
c

15

### Strings

In [13]:
'Single quotes can be used for strings, strings are just words'

'Single quotes can be used for strings, strings are just words'

In [14]:
"Double quotes can also be used"

'Double quotes can also be used'

In [15]:
"Double quotes are used if you can't use single quotes"

"Double quotes are used if you can't use single quotes"

### Printing

Used to simple generate or run a message with out the code used to perform it nor with quotes.

In [16]:
a = 'alexxus'

In [17]:
a

'alexxus'

In [18]:
print(a)

alexxus

In [19]:
age = 25
name = 'Louie'

In [24]:
print('My name is {}, and my age is {}'.format(name,age))

My name is Louie, and my age is 25

### Lists
Often used with brackets

In [25]:
[2,4,6,8]

[2, 4, 6, 8]

In [26]:
# Lists can also be placed inside lists
['Lou',25,['Lex',30]]

['Lou', 25, ['Lex', 30]]

In [27]:
list = ['l','o','v']

In [28]:
list

['l', 'o', 'v']

In [29]:
list.append('e')
# .append is used to add to the end of list

In [30]:
list

['l', 'o', 'v', 'e']

In [31]:
list[0]

'l'

In [32]:
list[1]

'o'

In [ ]:
#brackets are added after the list variable to return the context
#depending on which place the list is in.

In [36]:
list[1:]
# the colon after the letter will return the the list after 
# the place indicated.

['o', 'v', 'e']

In [37]:
list

['l', 'o', 'v', 'e']

In [42]:
list[0] = 'L'
# lists can be changed.

In [43]:
list

['L', 'o', 'v', 'e']

In [44]:
nest = [1,2,3,[4,5,['Lex']]]

In [60]:
#pick 'Lex' without brackets
print(nest[3][2][0])

Lex

### Dictionaries

Dictionaries will have a corresponding value that can be returned 
when the inital pair is called.

In [64]:
a = {'word1':'meaning1','word2':'meaning2'}

In [65]:
a

{'word1': 'meaning1', 'word2': 'meaning2'}

In [66]:
a['word1']

'meaning1'

### Booleans

These are simple True or False statements

In [82]:
True

True

In [71]:
False

False

### Tuples
These are similar to lists, but are immutable.

In [72]:
record = (714,744,779)

In [74]:
record[0]

714

In [75]:
record[0] = 1

TypeError: 'tuple' object does not support item assignment

### Sets
Are similar to lists, but will limit each entry to one if there are duplicates.

In [76]:
{1,2,3}

{1, 2, 3}

In [77]:
{1,1,1,1,2,2,2,2,4,4,4,4,5,5,6,6,6,7,7}

{1, 2, 4, 5, 6, 7}

### Comparison Operators

In [83]:
1 > 2

False

In [84]:
1 < 3

True

In [86]:
1 <= 2

True

In [87]:
1 >= 2

False

In [88]:
1 == 1

True

In [89]:
"hello" == 'Goodbye'

False

In [90]:
"hello" != 'Goodbye'

True

### Logic Operators

In [91]:
(1 > 5) and (3 > 4)

False

In [92]:
(1 > 5) or (3 < 4)

True

In [93]:
(2 == 2) or (3 == 4) or ( 5 == 5)

True

### If, Elif , Else Statements
It will print what you need depending on what condition is met, or print something if no condition is met.

In [95]:
if 5 > 2:
    print('Yes')

Yes

In [97]:
if 6 != 0:
    print('Yeah')
else:
    print('No')

Yeah

In [100]:
if 6 == 0:
    print('Yeah')
else:
    print('No')

No

In [104]:
if 5 > 2:
    print('Agree')
elif 5 < 2:
    print('Disagree')
else:
    print('N/A')

Agree

### for loops

In [110]:
dates = [1,2,3,4,5]

In [113]:
for day in dates:
    print('dia')

dia
dia
dia
dia
dia

In [114]:
for day in dates:
    print(day + day)

2
4
6
8
10

### while Loops

In [3]:
L = 15
while L < 21:
    print('L is {}'.format(L))
    L = L+1
# this will loop forever so you can restart or interupt kernel.
# add a condition so it will not loop forever.

L is 15
L is 16
L is 17
L is 18
L is 19
L is 20

### Range

In [4]:
range(10)

range(0, 10)

In [5]:
for l in range(10):
    print(l)

0
1
2
3
4
5
6
7
8
9

In [6]:
list(range(8))

[0, 1, 2, 3, 4, 5, 6, 7]

### List Comprehension

In [8]:
x = [1,2,3,4,5]

In [9]:
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16, 25]

In [10]:
# can also be written

[item**2 for item in x]

[1, 4, 9, 16, 25]

### Functions

Allows you to not continuously rewrite code.

In [12]:
def myfunc(parameters1):
    print(parameters1)

In [13]:
myfunc('hi')

hi

In [17]:
def myfunc(name = 'Luis'):
    print('Hello '+ name)

In [20]:
myfunc('Lex')

Hello Lex

In [26]:
def square(numb):
    """
    THIS IS A DOCSTRING
    CAN GO MULTIPLE LINES
    THIS FUNCTION SQUARES A NUMBER
    """
    return numb**2

In [24]:
output = square(2)

In [25]:
output

4

In [27]:
def times2(var):
    return var*2

In [28]:
times2(5)

10

In [29]:
### Map

In [30]:
seq = [1,2,3,4,5]

In [32]:
map(times2,seq)

In [33]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [34]:
## lambda allows you to rewite code cleaner

In [36]:
list(filter(lambda num: num%2 == 0,seq))

[2, 4]

In [37]:
s = 'Hello my name is Luis'

In [38]:
s.lower()

'hello my name is luis'

In [39]:
s.upper()

'HELLO MY NAME IS LUIS'

In [40]:
s.split()

['Hello', 'my', 'name', 'is', 'Luis']

In [41]:
tweet = 'Go Chicago White Sox #Baseball'

In [43]:
tweet.split('#')[1]

'Baseball'

In [45]:
d = {'k1':1,'k2':2,'k3':3}

In [47]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [48]:
d.items()

dict_items([('k1', 1), ('k2', 2), ('k3', 3)])

In [49]:
d.values()

dict_values([1, 2, 3])

In [50]:
# to check if something is in something

In [51]:
'x' in ['x','y','z']

True

In [52]:
x = [(1,2),(3,4),(5,6)]

In [56]:
#these are examples of touple unpacking
for item in x:
    print(item)

(1, 2)
(3, 4)
(5, 6)

In [54]:
for (a,b)in x:
    print(a)

1
3
5